$base-font-family: 'Avenir', Helvetica, Arial, sans-serif;
$font-family: 'Avenir', Helvetica, Arial, sans-serif;

// Colors
$background-color: #f0f3f5;
$green: #16a085;
$white: #fff;
$yellow: #ffb316;
$blue: #2a4e92;
$dark-navy: #0c394d;
$light-gray: #f3f6f8;
$medium-gray: #4c5454;
// $dark-gray: #1f2323;
$dark-gray: black;
$text-color: $dark-gray;

$action-color: $light-gray;
$action-color-hover: $medium-gray;
$light-action-color-hover: $action-color;

$small-font-size: 1rem;
$base-font-size: 1.1rem;
$medium-font-size: $base-font-size * 1.2;
$large-font-size: $medium-font-size * 1.2;
$xl-font-size: $large-font-size * 1.2;
$xxl-font-size: $xl-font-size * 1.2;
$small-font-size: $base-font-size * .8;


$base-line-height: 1.5;

// Font weights
$normal-font-weight: 500;
$semibold-font-weight: 600;
$bold-font-weight: 700;

// Borders
$base-border-color: $medium-gray;
$base-border-radius: 4px;

$base-border: $base-border-color 2px solid;
$thicker-border: $base-border-color 3px solid;
$thin-gray-border: #dbdbdb 1px solid;
$thin-border: $medium-gray 1px solid;
$side-border: $dark-gray 3px solid;
//Shadows
$base-box-shadow: 0 14px 26px -12px rgba(0,0,0, 0.42), 0 4px 23px 0px rgba(0,0,0, 0.12), 0 8px 10px -5px rgba(0,0,0, 0.02);
$light-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
$thin-box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 1px 2px rgba(0,0,0,0.1);

//Sizes
$container-width: 1220px;
$gutter-size: 20px;

// Breakpoints
$large-screen: $container-width;
$laptop-screen: 1024px;
$medium-screen: 768px;
$small-screen: 325px;

// ####### Imports ##########
// Base Font for HTML
$base-font-size: 16px;

// Paragraph Styles
$paragraph-color      : #505050;
$paragraph-size       : rem(17px);
$paragraph-line-height: 1.5em;
$paragraph-margin     : 20px;

// Header Styles
$header-color      : #000000;
$header-size       : rem(40px);
$header-line-height: 1.25em;
$header-margin     : $paragraph-margin * 1.2;

// Blockquote Styles
$blockquote-color      : #505050;
$blockquote-size       : rem(23px);
$blockquote-line-height: 1.5em;
$blockquote-margin     : $paragraph-margin * 1.5;

// Links
$link-color: $blue;

// hr
$hr-margin: 30px;

// Type Misc
$font-weight-bold: 700;
$border-color: #DADADA;
