.homepage__introduction {
  background-color: $dark-navy;

  blockquote {
    background-color: rgba(256, 256, 256, .7);
    display: initial;
    padding: 4px 8px;
  }

  h1, h2 {
    color: white;
  }

  .homepage__introduction-wrapper {
    padding: 130px 0 130px 0;
  }

  .homepage__introduction-verse {
    background-color: lighten($dark-navy, 7.5%);
    padding: 20px;
    text-align: center;

    em {
      color: white;
      font-size: $medium-font-size;
    }
  }

  .homepage__alert {
    color: white;
    text-align: center;
    padding: 20px;
    background-color: darkred;
  }
}


.heading-subtitle {
  font-size: $medium-font-size;
}

.meeting-info-text {
  color: $medium-gray;
}

.abide-introduction-wrapper {
  display: flex;
  justify-content: center;
}

.abide-introduction-image {
  padding: 20px 0;
  max-width: 100%;
  height: auto;

  @include media-up($medium-screen) {
    max-width: 700px;
  }
}

.plain-link {
  color: white;
}
